{% extends "layout.html" %}

{%block body%}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('  {{ url_for('static', filename = 'assets/img/home-bg.jpg') }}   ')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Vihaari wedding</h1>
                            <span class="subheading">Veda and harika</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">


                    <!-- Post preview-->
                    {% for post in post %}    
                    <div class="post-preview">
                        <a href="/post/{{post.slug}}">
                            <h2 class="post-title">{{post.title}}</h2>
                            <h3 class="post-subtitle">random subtitle</h3>
                        </a>

                        <p class="post-meta">
                            Posted by
                            <a href="#!">{{post.owner}}</a>
                            on {{post.date}}
                        </p>
                    </div>
                    <p>{{post.content[0:14]}}....</p>
                    {% endfor %}
                   
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase float-right" href="#!">&larr; Previous</a></div>
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase float-right" href="#!">Next &rarr;</a></div>
                </div>
            </div>
        </div>
        {%endblock%}